.node {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.row {
  display: flex;
  height: 1.5rem;
  padding: 0.25rem 0;
  align-items: center;
  cursor: pointer;

  transition: background-color 0.15s ease-in-out,
              color 0.15s ease-in-out;

  &[data-is-selected=true] {
    background-color: var(--node-tree-selected-background);

    & > .name {
      color: var(--node-tree-selected-text-color);
    }

    & > .expand > .toggle-arrow {
      fill: var(--node-tree-selected-text-color);
    }

    & > .icon {
      fill: var(--node-tree-selected-text-color);
    }
  }

  &[data-is-hidden=true] {
    background-color: var(--node-tree-hidden-background);

    & > .name {
      color: var(--node-tree-hidden-text-color);
    }

    svg {
      color: var(--node-tree-hidden-text-color);
    }
  }
}

.expand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;

  &[data-toggle-direction=right] {
    .toggle-arrow {
      transform: rotate(-90deg);
    }
  }
}

.toggle-arrow {
  transition: transform 0.15s ease-in-out;
  fill: var(--node-tree-text-color);
  width: 0.625rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.5rem 0 0.25rem;
  flex-shrink: 0;
}

.name {
  height: 1.5rem;
  line-height: 1.5;
  color: var(--node-tree-text-color);
}
