$node-tree-primary-color: #1fb2aa;
$node-tree-text-color: #454545;
$node-tree-ui-color: rgba(0,0,0,0.05);
$node-tree-ui-background: rgba(0,0,0,0);
$node-tree-disabled-text-color: rgba($node-tree-text-color, .5);
$node-tree-selected-background: rgba($node-tree-primary-color, .1);
$node-tree-selected-text-color: darken($node-tree-primary-color, 25%);
$node-tree-hidden-background: #F9FBFD;
$node-tree-hidden-text-color: #95AAC9;

:root {
  --node-tree-primary-color: #{$node-tree-primary-color};
  --node-tree-text-color: #{$node-tree-text-color};
  --node-tree-ui-color: #{$node-tree-ui-color};
  --node-tree-ui-background: #{$node-tree-ui-background};
  --node-tree-disabled-text-color: #{$node-tree-disabled-text-color};
  --node-tree-selected-background: #{$node-tree-selected-background};
  --node-tree-selected-text-color: #{$node-tree-selected-text-color};
  --node-tree-hidden-text-color: #{$node-tree-hidden-background};
  --node-tree-hidden-text-color: #{$node-tree-hidden-text-color};
}
