<div
  local-class="node-tree"
  data-container={{to-string this.hasContainer}}>
  {{yield
    (hash
      Actions=(component "node-tree/actions"
        nodes=this.nodes
        nodeTreeAPI=this.nodeTreeAPI
      )
      Tree=(component "node-tree/tree"
        nodes=this.nodes
        nodeTreeAPI=this.nodeTreeAPI
      )
    )
  }}
</div>
