.node-tree {
  display: flex;
  flex-direction: column;
  color: var(--node-tree-text-color);

  &[data-container=true] {
    border: 1px solid var(--node-tree-ui-color);
    background: var(--node-tree-ui-background);
    padding-bottom: 1rem;
  }
}
