<div
  class="name"
  local-class="name"
  {{did-insert this.setupElement}}
  ...attributes>
  <div
    role="link"
    local-class="scrolling"
    {{on "mouseover" this.mouseover}}
    {{on "mouseout" this.mouseout}}
  >
    {{@name}}
  </div>
</div>