.container {
  margin: 0.5rem 0;
  border: 1px solid var(--node-tree-shape-color);
  padding-bottom: 1rem;
}

.actions {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: var(--node-tree-shape-color);
  padding: 0.25rem;
}

.action {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  margin-right: 0.25rem;
  background-color: transparent;
  padding: 0;

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--node-tree-shape-color);
  }

  &[disabled] {
    opacity: 0.5;

    .icon {
      color: var(--node-tree-text-color-disabled);
    }
  }
}
